{% extends 'base.html.twig' %}

{% block title %}Snow tricks!{% endblock %}

{% block body %}
<div>
    <div class="w-full bg-gray-100 flex flex-col text-center space-y-6 items-center justify-center min-h-screen " >
        <h1 class="text-blue-500 text-2xl">I <span class="text-red-500">&hearts;</span> Symfony and TailwindCSS</h1>

        <button class="btn">Button test</button>
        <div>
            sergio prieto
        </div>
    </div>
</div>
{% endblock %}
