<footer class="bg-gray-800 justify-center bottom-0 ">
    <div class="w-full flex justify-center h-[80px] items-center">
        <span class="text-white text-center">© CopyRight 2022 Sergio Prieto, All rights reserved.</span>
    </div>
</footer>
