<!DOCTYPE html>
<html class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}

        <div class="grow">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            {% include "partials/_footer.html.twig" %}
        {% endblock %}
    </body>
</html>
